@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Fredoka', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #219ebc;
    color: white;
}

header h1 {
    font-weight: 600;
}

.nav-links, ul, a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 20px;
    font-size: 1.25rem;
    color: white;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

/* Main */

main {
    display: flex;
    justify-content: space-evenly;
    background-color: #219ebc;
    padding: 30px;
    align-items: center;
}

main img {
    width: 35%;
    border-radius: 0.5em;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 1.25rem;
    width: 350px;
    gap: 10px;
    color: white;
}

.github button {
    padding: 13px 35px;
    border: none;
    background-color: #023047;
    font-weight: 600;
    border-radius: 0.5em;
    color: white;
    cursor: pointer;
}

.github button:hover {
    background-color: #FFFF;
    color: #000;
}

/* First Section */

section {
    padding: 20px;
}

section h2 {
    text-align: center;
    font-weight: 600;
}

